.App {
  display:flex;
  justify-content: center;
  
}

/* Simpleform component style */
#simple-form{
  width:500px;
  height:auto;
  margin-top:100px;
}
form{
  background-color:yellow;
  border:1px solid black;
  padding: 20px;
  display:flex;
  justify-content: center;
  
}
form ul{
  list-style-type: none;
}


.labels{
  text-align:right;
  
}
.fields{
  text-align:left;
}
#reset-btn{
  margin-right:10px;
}
button:hover{
  cursor:pointer;
  background-color:lightblue;
}
#form-output{
  list-style-type: none;
}
